<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        
        <ul class="navbar-nav mr-auto d-flex align-items-center ">
            <li class="nav-item active">
                <img src="https://scontent.fbau1-1.fna.fbcdn.net/v/t1.18169-9/12553104_821207341342174_5758697595908642933_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=eRnaaC5uosQAX_bmVbv&_nc_ht=scontent.fbau1-1.fna&oh=da8e3bf3a3545fb44024a5711891acd3&oe=60ADCA1A"
                    alt="imagem do usuario" width="50px" height="50px" class="img-fluid rounded-circle">
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold fs-16 ">Usuario </p>
            </li>

            <li class="nav-item pl-3">
                <a href="">
                    <P class=" fs-16 m-0 cl-black"> <i class="fa fa-pencil-square-o fs-16" aria-hidden="true"></i> </P>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center ">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold fs-16 cl-black ">sair <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>